@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.bulletin {
	background: white;

	nav {
		width: 100%;
		padding: 10px 20px;
		background: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

		img {
			width: 100px;
		}

		.nav-link {
			max-width: 300px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;

			a {
				width: 100%;
				padding: 5px;
				text-align: center;
				background: white;
				color: black;
				border-radius: 10px;
				border: 1px solid black;
				box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
				text-decoration: none;
				transition: all 300ms;
			}
			a:hover {
				background: black;
				color: white;
				transform: translate(2px, 2px);
			}
		}
	}

	h1 {
		padding: 50px;
		color: black;
		text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.8);
		font-family: Poppins;
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 5px;
		text-align: center;
	}

	.card-block {
		width: 80%;
		margin: auto;
		padding: 10px;
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 30px;
		flex-direction: column;

		.card {
			width: 100%;
			padding: 20px 5px;
			background: white;
			border: 1px solid black;
			border-radius: 10px;
			color: black;
			box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
			display: flex;
			flex-direction: column;
			gap: 20px;

			h3 {
				font-family: Poppins;
				text-align: center;
			}

			.writer {
				font-weight: bold;

				span {
					font-weight: normal;
				}
			}

			p {
				padding: 0 20px;
			}
		}
	}

	.shop-announcement {
		margin-top: 5rem;
	}
}

@media (max-width: 992px) {
	.bulletin {
		.card-block {
			width: 100%;
		}
	}
}