.landingStore {
	width: 100%;
	height: 100vh;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	img {
		width: 50%;
		height: 50vh;
		margin: auto;
		object-fit: contain;
	}

	.text {
		width: 100%;
		height: 30vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;

		.title {
			text-align: center;
		}

		a {
			text-decoration: none;
			width: 25%;
			padding: 20px;
			border-radius: 20px;
			background: linear-gradient(to bottom, #31DF43, #369340);
			text-align: center;
			color: white;
			font-weight: bold;
			transition: all 500ms;
		}
	}
}

.messages {
	text-align: center;
	color: red;
}


@media screen and (max-width: 992px) {
	.landingStore {
		height: auto;
		gap: 30px;

		.text {
			height: auto;
			gap: 20px;

			a {
				width: 50%;
			}
		}
	}
}

:root {
    --text: black;
}

.login-form {
    width: 100%;
    height: 100vh;
    padding: 20px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('cvsu.jpg');
	background-position: center;
	background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    cursor: default;
	
    .title {
        text-align: center;
    }

	.form {
		width: 450px;
		height: 500px;
		background: white;
		border-radius: 20px;

		form {
			width: 90%;
			height: 100%;
			margin: auto;
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 50px;

		}
		
		.title {
			width: 100%;
			position: relative;

			.login-button {
				color: var(--text);
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}

		.input-group {
			width: 100%;
			padding-bottom: 10px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			position: relative;
		}

		.input-block {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.group {
				width: 100%;
				position: relative;

				input {
					width: 100%;
				}

				.password-visible {
					font-size: 1rem;
					position: absolute;
					top: 50%;
					right: 8px;
					transform: translateY(-50%);
					cursor: pointer;
				}
			}
		}
		label, .group span{
			font-size: 0.8rem;
		}
		input {
			padding: 10px;
			border-radius: 10px;
			background: none;
			border: 1px solid black;
			outline: none;
		}

		.group a {
			color: var(--text);
			font-weight: 500;
		}

		button[type='submit'] {
			width: 100%;
			padding: 10px 40px;
			border-radius: 10px;
			background: #212529;
			border: none;
			color: white;
			transition: all 500ms;
			cursor: pointer;
		}
		button[type='submit']:hover {
			background: #343a40;
		}

		.message {
			padding: 10px 20px;
			background: var(--bg-color);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			border-radius: 10px;
			position: absolute;
			bottom: 30px;
			left: 60%;
			transform: translateX(-50%);
			z-index: 99;
		}
	}
}

@media screen and (max-width: 992px) {
	.login-form {
		.groups {
			display: none;
		}
	}
}